.Text{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.messages{
    transform: translate(-50%, -50%); 
}

.chatOutline{
    border: 1px solid #000000;
    outline-width: 10px;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.inputContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}