.ChatBox{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #c70f0f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
    margin-top: 500px;
    align-items: center;
}