.chatOutline{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid #000000;
}

.inputContainer{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.messageInput{
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    padding: 10px;
    border: 1px solid #000000;
}

.messageContainer{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}