.inputContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 300px;
}


.inputLabel{
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000;
}

.userInput{
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000;
}

.submitButton{
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000;
    background-color: #ffffff;
}
