.inputContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
    margin-top: 300px;
}

.inputLabel{
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000;
}

.userInput{
    padding: 10px;
    border: 1px solid #000000;
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.submitButton{
    margin-left: 20px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #000000;
    border-radius: 50px;
}
